---
interface Props {
  variant?: 'primary' | 'secondary' | 'ghost';
  href?: string;
  type?: 'button' | 'submit' | 'reset';
}

const {
  variant = 'secondary',
  href,
  type = 'button'
} = Astro.props;
---

{href ? (
  <a class={`btn btn--${variant}`} href={href}>
    <slot />
  </a>
) : (
  <button class={`btn btn--${variant}`} type={type}>
    <slot />
  </button>
)}


<style>
  .btn {
    padding: 8px 16px;
    font-weight: 500;
    border-radius: var(--radius);
    transition: all 0.2s ease;
  }

  .btn--primary {
    background-color: var(--fill-accent);
    color: white;
    border: none;
  }

  .btn--secondary {
    background-color: var(--surface-2);
    color: var(--text-primary);
    border: 0.5px solid var(--border);
  }

  .btn--ghost {
    background-color: transparent;
    color: var(--text-primary);
    border: none;
  }
</style>